@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Merriweather:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9F9F6;
  color: #2D3748;
}